.correct {
  color: green;
}
.wrong {
  color: red;
}

img {
  width: 200px;
}

.main-container{
  width: 1200px;
  margin: auto auto;
  background-color: #36365F;
  color: #FF6666;
  font-family: calibri;
}